$ch5-background-z-index: -1 !default;
$ch5-background-parent-z-index: 1 !default;

$ch5-modal-z-index: 10001 !default;
$ch5-modal-mask-z-index: 10000 !default;

$ch5-overlay-panel-z-index: 10000 !default;

$ch5-select-panel-z-index: 10000 !default;

$ch5-spinner-wrapper-z-index: 9999 !default;
$ch5-spinner-overlay-z-index: 999 !default;

$ch5-toggle-container-z-index: 2 !default;
$ch5-toggle-knob-z-index: 1 !default;

$ch5-video-label-z-index: 99999 !default;
$ch5-video-autorefresh-z-index: -1111 !default;
$ch5-video-loader-z-index: 1 !default;
$ch5-video-controls-z-index: 9999 !default;