body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  margin-top: 0;
  color: black;
}
header {
  display: block;
  background-color: black;
  padding: 15px;
  text-align: right;
  position: fixed;
  z-index: 999999;
  width: 100%;
  top: 0px;
}

.theme-dropdown {
  width: 240px;
  border: 1px solid #ccc;
  padding: 10px;
  font-weight: bold;
}
.theme-dropdown option{
  font-weight: bold;
}

.main-section  {
  padding: 20px;
  background-color: #fefefe;
  padding-top: 95px;
}

.main-section hr {
  margin: 2rem 0;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
}

.btn-group > ch5-button + ch5-button {
  margin-left: 10px;
}
