.ch5-video-switcher {
    &--source-list-position-top {
        flex-direction: column;

        &.ch5-video-switcher--source-list-scrollbar-true {
            //padding-bottom: var(--ch5-button-list--scrollbar-width);

            .scrollbar-container {
                width: calc(100% - 20px);
                top: 33.3%;
                height: 7px;

                .scrollbar {
                    height: 100%;
                }
            }
        }
    }

    &--source-list-position-bottom {
        flex-direction: column-reverse;

        &.ch5-video-switcher--source-list-scrollbar-true {
            //padding-bottom: var(--ch5-button-list--scrollbar-width);

            .scrollbar-container {
                width: calc(100% - 20px);
                bottom: 0;
                height: 7px;

                .scrollbar {
                    height: 100%;
                }
            }
        }
    }

    &--source-list-position-left {
        flex-direction: row;

        .ch5-video-switcher--source-list {
            height: 100%;
            width: calc(100% / 3);
            flex-direction: row;
        }

        .ch5-video-switcher--screen-list {
            height: 100%;
            width: 66%;
        }

        &.ch5-video-switcher--source-list-scrollbar-true {
            // padding-right: var(--ch5-button-list--scrollbar-width);

            .scrollbar-container {
                top: 0;
                height: calc(100% - 20px);
                ;
                left: 33.3%;
                /* left: auto; */
                width: 7px;

                .scrollbar {
                    width: 100%;
                }
            }
        }
    }

    &--source-list-position-right {
        flex-direction: row-reverse;

        .ch5-video-switcher--source-list {
            height: 100%;
            width: calc(100% / 3);
            flex-direction: row;
        }

        .ch5-video-switcher--screen-list {
            height: 100%;
            width: 66%;
        }

        &.ch5-video-switcher--source-list-scrollbar-true {

            /*  padding-right: 7px; */
            .scrollbar-container {
                top: 0;
                height: calc(100% - 20px);
                right: 0;
                left: auto;
                width: 7px;

                .scrollbar {
                    width: 100%;
                }
            }
        }
    }
}